option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    DisableIMDSv1: true
    RootVolumeType: gp3
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:161812619401:certificate/9c04b58a-31d8-430f-b7ad-121633c20e74
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
  aws:elasticbeanstalk:environment:process:default:
    Port: 80
    Protocol: HTTP
    HealthCheckPath: /
