@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 270 50% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 270 30% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 270 30% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 270 30% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 270 50% 60%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-zoom-in {
    animation: zoom-in 20s ease-in-out infinite alternate;
  }

  @keyframes zoom-in {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.9);
    }
  }
}
